.page .entry-content {
  h1 {
    margin-bottom: 0.6em;
  }

  h2 {
    margin-top: 1.6em;
    margin-bottom: 0.8em;
  }
  h3 {
    margin-top: 2.1em;
    margin-bottom: 1em;
  }
  h4 {
    margin-top: 2.1em;
    margin-bottom: 0.9em;
  }
  h5 {
    margin-top: 2.9em;
  }
  h6 {
    margin-top: 35px;
    margin-bottom: 12px;
  }
  hr {
    margin: 62px 0;
    clear: both;
  }
  ul {
    margin: 0;
    list-style: none;
    li {
      padding-left: 32px;
      font-size: 16px;
      position: relative;
      &::before {
        content: '\f105';
        @include font-awesome-icon;
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 50%;
        @include translate(0, -50%);

        position: relative;
        left: -30px;
        top: 0;
        margin-right: -7px;
        @include translate(0, 0);
      }
      & + li {
        margin-top: 14px;
      }
    }
  }
  ol {
    list-style: none;
    margin: 0;
    counter-reset: li;
    li {
      font-size: 16px;
      position: relative;
      &::before {
        content: counter(li, decimal-leading-zero) ".";
        counter-increment: li;
        margin-right: 17px;
      }
      & + li {
        margin-top: 14px;
      }
    }
  }
  blockquote + hr {
    margin-top: 25px;
  }
  a {
    text-decoration: none;
  }
  code {
    font-size: 20px;
    padding: 1px 5px;
  }
  p > img {
    margin-top: 25px;
    &.size-plumberpro-post-thumbnail-large {
      width: 100%;
    }
    &.alignleft, &.alignright {
      margin-top: 10px;
      margin-bottom: 20px;
      display: block;
      margin-left: 0;
      @include media-breakpoint-up(lg) {
        display: inline-block;
        margin-bottom: 50px;
        margin-left: 30px;
      }
    }
    &.alignleft {
      float: none;
      margin-right: auto;
      margin-left: 0;
      @include media-breakpoint-up(lg) {
        float: left;
        margin-right: 30px;
      }
    }
    &.alignright {
      float: none;
      margin-left: auto;
      @include media-breakpoint-up(lg) {
        float: right;
        margin-left: 30px;
      }
    }
  }
}