$border__radius: 0px;
$box__shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.04);
$box__shadow_mobile: 0px 10px 13px 0px rgba(0, 0, 0, 0.04);

$size__site-main: 100%;
$size__site-sidebar: 25%;

$button__indents: 12px 31px;
$button__border-radius: 0px;

$embed__ratio: 62.33%;  //  thumbnail height / thumbnail width